@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);

body {

  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:16px;
  font-weight: 300;
  color:#595c5a;
  margin: 0 auto;
  padding-top: 15px;
  border-top: 5px solid rgb(0,0,0);
}

article, aside, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

h1, h2, h3, h4, h5, h6 {
  color:#ff6a00;
  margin:0 0 20px;
  font-family: "ProximaNovaA-Regular";
}


h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:4em;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  color:#39c;
  font-weight:bold;
  text-decoration:none;
  
  transition: .15s ease;
  		-webkit-transition: .15s ease;
  		-moz-transition: .15s ease;
}

a:hover {
	color: rgb(89, 92, 90);
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.6em;
  display:block;
}

.wrapper {
  width:95%;
  margin:0 auto;
}



img {
  max-width:100%;
}

header {
  width:100%;
  float:left;

}

strong {
  color:#222;
  font-weight:700;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {

  float:left;
	display: block;
}

/* CUSTOM CSS RULES */

body {
	-webkit-font-smoothing: antialiased;
     font-smoothing: antialiased;
}

.nav {
	width: 100%;
	display: block;
	height: 30px;
	
}

.nav ul {
	display: block;
	list-style: none;
	
}

.nav-link {
	float: right;
	
}

#buttons {
	width: 100%;
	display: block;
}


section {
	display: block;
	float: left;
}

.entry p {
	max-width: 800px;
	
}


.entry {
	width: 100%;
	border-top: 1px solid rgba(89, 92, 90, .3);
	margin-top: 30px;
	margin-bottom: 15px;
	padding-top: 20px;
}

.entry-info {
	font-weight: lighter;
	color: rgb(200,203,199);
	font-size: x-large;
	float: right;
}

.btn {
	background-color: rgb(255, 106, 0);
	padding: 10px 25px;
	margin: 15px 10px;
	color: white;
	font-weight: normal;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	
}

.btn:hover {
	background-color: rgba(255, 106, 0, .7);
	
}

.btn:active {
	-webkit-box-shadow: 0 0 3px 5px rgba(0,0,0,.3) inset;
	-moz-box-shadow: 0 0 3px 5px rgba(0,0,0,.3) inset;
	box-shadow: 0 0 3px 5px rgba(0,0,0,.3) inset;
	
}
.page-header {
	display: block;
	margin: 0 auto;
	padding: 0;
	margin-right: 30px;	
}

.page-subheadline {
	font-size: 1.6em;
	padding: 0;
	margin: 0 auto;
	margin-bottom: 20px;
}

.view {
	padding-top: 40px;
	
}

#kitchen-sink-btn {
	background-color: rgba(0,0,0,1);
	color: rgba(255,255,255,1);
}

#kitchen-sink-btn:hover {
	background-color: rgba(0,0,0,.7);
	color: rgba(255,255,255,.9);
}

#notice {
	max-width: 800px;
	background-color: rgba(255, 106, 0, .3);
	padding: 20px 20px;
	border-left: 5px solid rgba(255,106,0,1);
	
}

.details {
	list-style: none;
	line-height: 1.8em;
}

.details li {
	border-left: 5px solid black;
	padding-left: 10px;
	margin-bottom: 5px;
}

#resource-list {
	list-style: none;
}

#resource-list li {
	border-top: 1px dashed #cecece;
	padding-top: 15px;
	margin-bottom: 30px;
}

#resource-list li p {
	font-size: .9em;
	line-height: 1.5em;
}

#resource-list li ul {
	list-style: none;
	
}

#resource-list li ul li {
	border: none;
	padding: 0;
	margin: 0 auto;
	margin-bottom: 20px;
	font-size: .9em;
	
}

#resource-list .list-item-title {
	border-left: 5px solid rgb(0,0,0);
	padding-left: 20px;
	padding-top: 7px;
	padding-bottom: 7px;
	
}

#resource-list .list-item-title a {
	color: rgb(255,106,0);
	font-weight: bold;
	font-size: 1.6em;
}

#resource-list .list-item-title a:hover {
	color: rgb(90,92,99);
}

.resource-img {
	max-width: 800px;
	
	-webkit-transition: .15s ease;
	-moz-transition: .15s ease;
	transition: .15s ease;
	
	
}

.resource-img:hover {
	opacity: .8;
	
}


/* MEDIA QUERIES */

@media print, screen and (max-width: 960px) {
  
  div.wrapper {
    width:auto;
    margin:0;
  }
  
  
  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;

  }
  
  header a small {
    display:inline;
  }
  

}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }
  
  header {
    padding:0;
  }
  
  header ul, header p.view {
    position:static;
  }
  
  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }
  
  header ul {
    display:none;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}
